 <div class="row">
    <div class="col-md-12">
        <form class="form-horizontal">
            <div class="panel panel-default">
                <div class="panel-heading">
                        <h3 class="panel-title"><strong>Suppliers</strong> Details</h3>
                </div>
                <div class="panel-body">
                      <div class="table-responsive">
                            <table class="table table-bordered">

                                    <thead>
                                           <th width="5%">Sr No</th>
                                           <th width="15%">Supplier Name</th>
                                           <th width="15%">Contact No</th>
                                           <th width="10%">Email Id</th>
                                           <th width="10%">Address</th>
                                           <th width="45%">Action</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="retailer in retailers">
                                            <td width="5%">{{$index+1}}</td>
                                            <td width="15%">{{retailer.suppliername}}</td>
                                            <td width="15%">{{retailer.contactnumber}}</td>
                                            <td width="10%">{{retailer.email}}</td>
                                            <td width="10%">{{retailer.address}}</td>
                                            <td width="45%">
                                                <button class="btn btn-info" data-toggle="modal" data-target="#modifySupplier" data-backdrop="static" ng-click="selectedSupplier(retailer)">Modify</button>
                                                <a ui-sref="viewSupplierwiseWorkOrders({supplierid:retailer.supplierid})"> <button class="btn btn-info">Workorders</button></a>
                                                <a ui-sref="createSupplierInvoice({supplierid:retailer.supplierid})"> <button class="btn btn-info">Create Bills</button></a>
                                                <a ui-sref="viewSupplierInvoice({supplierid:retailer.supplierid})"> <button class="btn btn-info">Bills</button></a>
                                                <a ui-sref="addSupplierPayment({supplierid:retailer.supplierid})"> <button class="btn btn-info">AddPayment</button></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                
                            </table>
                      </div>          
                </div>
                
            </div>
        </form>                    
    </div>
</div>

 <div id="modifySupplier" class="modal fade" role="dialog">
     <div class="modal-dialog modal-lg">
         <!-- Modal content-->
         <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                 <h4 class="modal-title"><strong>Modify Supplier</strong></h4>
             </div>
             <div class="modal-body">
                 <div class="row">
                     <div class="col-md-12">
                         <form class="form-horizontal">
                             <div class="form-group">
                                 <label class="col-md-4 col-xs-12 control-label">Name :</label>
                                 <div class="col-md-5 col-xs-12">
                                     <div class="input-group">
                                         <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                         <input type="text" ng-model="selectedSupplier.suppliername" class="form-control"/>
                                     </div>

                                 </div>
                             </div>
                             <div class="form-group">
                                 <label class="col-md-4 col-xs-12 control-label">Contact No :</label>
                                 <div class="col-md-5 col-xs-12">
                                     <div class="input-group">
                                         <span class="input-group-addon"><span class="fa fa-phone"></span></span>
                                         <input type="text" ng-model="selectedSupplier.contactnumber" class="form-control"/>
                                     </div>

                                 </div>
                             </div>
                             <div class="form-group">
                                 <label class="col-md-4 col-xs-12 control-label">Email Id :</label>
                                 <div class="col-md-5 col-xs-12">
                                     <div class="input-group">
                                         <span class="input-group-addon"><span class="fa fa-envelope"></span></span>
                                         <input type="text" ng-model="selectedSupplier.email" class="form-control"/>
                                     </div>

                                 </div>
                             </div>
                             <div class="form-group">
                                 <label class="col-md-4 col-xs-12 control-label">Address :</label>
                                 <div class="col-md-5 col-xs-12">
                                     <textarea class="form-control" ng-model="selectedSupplier.address" rows="5"></textarea>
                                 </div>
                             </div>
                         </form>
                     </div>
                 </div>
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-danger" ng-click="modifySupplier()">Save</button>
             </div>
         </div>

     </div>
 </div>